.places__text {
  grid-area: text;
  width: 80%;
  height: 75%;
  /* margin-top: 65px;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}