.places__card {
  display: grid;
  grid-template-areas: "image text";
  grid-template-columns: repeat(2, 1fr);
}

.places__card:nth-of-type(2) {
  grid-template-areas: "text image";
}

@media screen and (max-width: 480px) {
  .places__card {
    display: flex;
    flex-direction: column;
  }
}