.intro__image-frame {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  height: 100%; 
}

@media screen and (max-width:650px){
  .intro__image-frame{
    justify-content: flex-start;
  } 
}