.people__title {
  line-height: 1.15;
  letter-spacing: 0.3px;
  font-size: 14px;
  max-width: 450px;
  margin: 0px;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
